# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
.venv/
venv/
env/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# Logs and outputs
*.log

# Data (optional)
data/*.csv
data/*.xlsx
data/*.json

# VSCode / IDEs
.vscode/
.idea/
